.icon {
  color: #000;
  font-size: 3rem;
  cursor: pointer;
  justify-self: flex-end;
  width: fit-content;
}

.bg {
  transition: 0.33s all;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.filter-products {
  padding: 4rem;
  position: fixed;
  width: 45%;
  height: 65%;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 1);
  top: 65%;
  left: 50%;
  transform: translate(-50%, -65%);
  &_header {
    display: grid;
    width: 100%;
    align-items: flex-start;
  }
  &-title {
    color: #000;
    font-size: 3rem;
    font-weight: 400;
    width: fit-content;
  }
}

.form {
  position: relative;
  width: 80%;
  margin: auto auto;
  &_price {
    display: grid;
    margin-bottom: 3rem;
    &-label {
      font-size: 2rem;
      color: #000;
      font-weight: 200;
    }
    &_inputs {
      display: flex;
      align-items: center;
      &-i {
        padding: 1rem 1rem 1rem 1rem;
        width: 100%;
        font-size: 1.6rem;
        font-weight: 300;
        border-radius: 0;
        border: none;
        outline: none;
        border-bottom: 1px solid #000;
        color: #000;
        transition: 0.5s all;
        &:focus {
          outline: none;
          border-bottom: 1px solid pink;
        }
        &:active {
          outline: none;
          border-bottom: 1px solid pink;
        }
      }
    }
  }

  &_type {
    display: grid;
    margin-bottom: 3rem;
    &-label {
      font-size: 2rem;
      color: #000;
      font-weight: 200;
    }
    &_select {
      //
      box-sizing: border-box;
      display: block;
      color: #000;
      padding: 1rem 1rem 1rem 1rem;
      box-sizing: border-box;
      width: 100%;
      font-size: 1.6rem;
      font-weight: 300;
      border-radius: 0;
      border: none;
      outline: none;
      border-bottom: 1px solid #000;
      color: #000;
      transition: 0.5s all;
      background-color: transparent;
      &:focus {
        outline: none;
        border-bottom: 1px solid pink;
      }
      &:active {
        outline: none;
        border-bottom: 1px solid pink;
      }
      &-option {
        background-color: transparent;
        color: #000;
        padding: 1rem 1rem 1rem 1rem;
        width: 100%;
        font-size: 1.6rem;
        font-weight: 300;
        outline: none;
      }
    }
  }

  &_sale {
    display: flex;
    column-gap: 1rem;
    align-items: center;
    margin-bottom: 0.5rem;
    &-label {
      color: #000;
      font-size: 1.6rem;
      font-weight: 300;
    }
    &-input {
      width: 20px;
      height: 20px;
    }
  }

  &_bestseller {
    display: flex;
    column-gap: 1rem;
    margin-bottom: 3rem;
    align-items: center;
    &-label {
      color: #000;
      font-size: 1.6rem;
      font-weight: 300;
    }
    &-input {
      width: 20px;
      height: 20px;
    }
  }

  &_btn {
    position: absolute;
    padding: 0.5rem 2rem 0.5rem 2rem;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 200;
    color: #000;
    border: 1px solid black;
    background-color: transparent;
    width: fit-content;
    transition: 0.5s all;
    left: 50%;
    bottom: -10%;
    transform: translate(-50%, 10%);
    &:hover {
      background-color: #000;
      color: #fff;
    }
  }
}

hr {
  margin-bottom: 3rem;
  margin-top: 1rem;
  border: none;
  border-bottom: 1px solid black;
  border-color: #000;
  background-color: #000;
  color: #000;
}

.remove {
  font-size: 2rem;
  color: #000;
  margin: 0rem 1rem 0rem 1rem;
  align-self: center;
}

@media (max-width: 375px) {
  .filter-products {
    width: 90%;
    height: 80%;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -80%);
  }
}

@media (min-width: 376px) and (max-width: 500px) {
  .filter-products {
    width: 90%;
    height: 590px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
  }
}

@media (min-width: 501px) and (max-width: 700px) {
  .filter-products {
    width: 90%;
    height: 540px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
  }
}

@media (min-width: 701px) and (max-width: 900px) {
  .filter-products {
    width: 90%;
    height: 540px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
  }
}

@media (min-width: 901px) and (max-width: 1200px) {
  .filter-products {
    width: 90%;
    height: 540px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
  }
}

@media (min-width: 1201px) and (max-width: 1600px) {
  .filter-products {
    width: 70%;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
  }
}

@media (min-width: 2559px) {
  .filter-products {
    height: 55%;
  }
  .filter-products-title {
    font-size: 3.6rem;
  }
  .form_price-label {
    font-size: 2.6rem;
  }
  .form_price_inputs-i {
    font-size: 2.2rem;
  }
  .form_type-label {
    font-size: 2.6rem;
  }
  .form_type_select {
    font-size: 2.2rem;
  }
  .form_type_select-option {
    font-size: 2.2rem;
  }
  .form_sale-input {
    width: 23px;
    height: 23px;
  }
  .form_sale-label {
    font-size: 2.2rem;
  }
  .form_bestseller-input {
    width: 23px;
    height: 23px;
  }
  .form_bestseller-label {
    font-size: 2.2rem;
  }
  .form_btn {
    font-size: 2.6rem;
  }
  .form_price {
    margin-bottom: 6rem;
  }
  .form_type {
    margin-bottom: 6rem;
  }
  .form_bestseller {
    margin-bottom: 6rem;
  }
  .icon {
    font-size: 4rem;
  }
}
