<div class="footer-single-section">
  <h1 *ngIf="shouldBeExpanded === true; else sec" class="footer-single-section_title" (click)="expand()">
    {{ array[0].title | capFirst }}
    <span class="material-symbols-outlined icon">
      {{ ex === false ? "expand_more" : "expand_less" }}
    </span>
  </h1>
  <ng-template #sec>
      <h1 class="footer-single-section_title">
    {{ array[0].title | capFirst }}
  </h1>
  </ng-template>
  <div
    class="footer-single-section_link-container"
    [ngClass]="{ hidden: ex === false && shouldBeExpanded === true }"
  >
    <a
      *ngFor="let link of array[0].data"
      class="footer-single-section_link-container_link"
      routerLink="{{ link.link }}"
      >{{ link.subtitle | capFirst }}</a
    >
  </div>
</div>
