.landing-title-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

h1 {
  font-size: 9.6rem;
  font-family: "Kaushan Script", cursive;
}

p {
  font-size: 4rem;
  font-weight: 200;
  font-family: "Kaushan Script", cursive;
}
