<section class="about-company" id="o-firmie">
  <h1 class="about-company-title">{{ "o firmie" | capFirst }}</h1>
  <hr />
  <div class="about-company-container">
    <p class="about-company-container_text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum autem
      sequi consequatur, saepe aperiam nihil labore perferendis, vitae tempora
      incidunt libero non est et vel excepturi repellendus. Veritatis est in
      unde ullam, non mollitia facilis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, distinctio!
    </p>
    <img
      class="about-company-container_img"
      src="../../../../assets/imgs/about-company/about-company.jpg"
      alt=""
    />
  </div>
</section>
