<nav
  *ngIf="windowWidth > 1200; else mobile"
  class="nav-bar"
  [ngClass]="{
    navv: (windowHeight >= 1 && curRoute === '/') || curRoute != '/'
  }"
>
  <div class="flex">
    <div
      routerLink="/"
      class="nav-bar-container"
      [ngClass]="{
        navCont: (windowHeight >= 1 && curRoute === '/') || curRoute != '/'
      }"
    >
      <img
        class="nav-bar-container_image"
        src="../../../../assets/imgs/logo/logo.png"
        alt="Logo"
      />
      <p
        class="nav-bar-container_title"
        [ngClass]="{
          links: (windowHeight >= 1 && curRoute === '/') || curRoute != '/'
        }"
      >
        Vertris
      </p>
    </div>
    <a class="absolute margin-r">
      <span
        class="material-symbols-outlined icon"
        [ngClass]="{ hidden: windowHeight < 1 && curRoute === '/' }"
      >
        pin_drop
      </span>
      <span
        class="icon-text"
        [ngClass]="{ hidden: windowHeight < 1 && curRoute === '/' }"
        (click)="routeAboutUs()"
        >{{ "znajdź salon" | capFirst }}</span
      >
    </a>
    <div class="absolute">
      <span
        class="material-symbols-outlined icon"
        [ngClass]="{ hidden: windowHeight < 1 && curRoute === '/' }"
      >
        call
      </span>
      <span
        class="icon-text"
        [ngClass]="{ hidden: windowHeight < 1 && curRoute === '/' }"
        >+48 999 999 999</span
      >
    </div>
  </div>
  <ul
    [ngClass]="{
      border: (windowHeight >= 1 && curRoute === '/') || curRoute != '/'
    }"
  >
    <a
      *ngFor="let link of linksData"
      class="link"
      routerLink="{{ link.link }}"
      [ngClass]="{ hidden: windowHeight < 1 && curRoute === '/' }"
      ><li>{{ link.text | uppercase }}</li></a
    >
  </ul>
</nav>
<ng-template #mobile>
  <app-nav-bar-mobile></app-nav-bar-mobile>
</ng-template>
