<div class="gift-card">
  <div class="gift-card_container">
    <img class="gift-card_container-img" src="../../../../assets/imgs/gift-cards/ribb.png" alt="" />
    <div class="gift-card_container-rib-ver"></div>
    <div class="gift-card_container-rib-hor"></div>
    <div class="elo gift-card_container-textc">
      <p class="gift-card_container-textc_title">Vertris</p>
      <p class="gift-card_container-textc_price">{{value}} PLN</p>
      <p class="gift-card_container-textc_text">
        {{ "gift card" | uppercase }}
      </p>
    </div>
  </div>
</div>
