.contact {
  padding: 2.4rem 0rem 2.4rem 0rem;
  width: 100%;
  &-container {
    margin: 0 1.6rem 0 1.6rem;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    column-gap: 4.8rem;
  }
}

p {
  font-weight: 200;
  font-size: 2rem;
}

p:first-child::after {
  content: "";
  background-color: #fff;
  width: 1.6rem;
  height: 0.032rem;
  display: inline-block;
  margin-left: 4.8rem;
  vertical-align: middle;
}

p:last-child::before {
  content: "";
  background-color: #fff;
  width: 1.6rem;
  height: 0.032rem;
  display: inline-block;
  margin-right: 4.8rem;
  vertical-align: middle;
}
