.pop-up {
  width: fit-content;
  padding: 2rem;
  border: 0.1px solid #fff;
}

h1 {
  font-size: 4.8rem;
}

@media (min-width: 801px) and (max-width: 1100px) {
  h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1101px) and (max-width: 1230px) {
  h1 {
    font-size: 3.8rem;
  }
}
