.earings {
  padding-top: 184.5px;
  width: calc(90% - 3.2rem);
  margin: auto auto;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: 0.33s all;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: 0.33s all;
}

@media (max-width: 1200px) {
  .earings {
    padding-top: 124.5px;
    width: calc(100% - 3.2rem);
  }
}

@media (min-width: 2559px) {
  .earings {
    padding-top: 224.5px;
  }
}