<section class="products-carousel">
  <span class="material-symbols-outlined icon-left" (click)="previous()"> chevron_left </span>
  <div class="products-carousel-container">
    <h1 class="products-carousel-container_title">{{ sectionTitle | uppercase }}</h1>
    <div class="single-product-container">
      <app-single-product
        *ngFor="let product of arrProd"
        [productTitle]="product.productTitle"
        [type]="product.type"
        [price]="product.price"
        [productImage]="product.productImage"
        [bestseller]="product.bestseller"
        [id]="product.id"
        [discount]="product.discount"
        [discountValue]="product.discountValue"
        [path]="product.path"
      ></app-single-product>
    </div>
  </div>
  <span class="material-symbols-outlined icon-right" (click)="next()"> chevron_right </span>
</section>
