<section class="career" id="kariera">
  <h1 class="career-title">{{ "kariera" | capFirst }}</h1>
  <hr />
  <div class="career-container">
    <img
      class="career-container_img"
      src="../../../../assets/imgs/career/career.jpg"
      alt=""
    />
    <div class="join-us">
      <p class="career-container_text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe quasi
        iure reiciendis. Accusamus officia nostrum enim earum veritatis voluptas
        neque dolorum magni, velit voluptatibus ratione sequi exercitationem sed
        consectetur? Consectetur tempore voluptates fugiat dolores odit!
      </p>
      <button>{{ "dołącz do nas" | capFirst }}</button>
    </div>
  </div>
</section>
