.watches {
  padding-top: 184.5px;
  width: calc(90% - 3.2rem);
  margin: auto auto;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: 0.33s;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: 0.33s;
}

@media (max-width: 1200px) {
  .watches {
    padding-top: 124.5px;
    width: calc(100% - 3.2rem);
  }
}
