.watches {
  padding-top: 184.5px;
  width: calc(90% - 3.2rem);
  margin: auto auto;
  &-header {
    margin-bottom: 2rem;
  }
}

h1 {
  font-size: 4.2rem;
  color: #000;
  font-weight: 200;
}

p {
  font-size: 2.4rem;
  color: #000;
  font-weight: 200;
}
