<section routerLink="/nowości/yoshitsu" class="new-collection">
  <div class="bg"></div>
  <div class="new-collection_text-container">
    <h1 class="new-collection_text-container-title">
      {{ "nowa kolekcja" | uppercase }} Yoshitsu
    </h1>
    <p class="new-collection_text-container-text">
      biżuteria dopasowana do każdej stylizacji aby wyglądać nieziemsko
    </p>
  </div>
  <div>
    <a routerLink="/nowości/yoshitsu" class="new-collection_link-container">
      <p class="new-collection_link-container-text">
        {{ "sprawdź teraz" | uppercase }}
      </p>
      <span class="material-symbols-outlined icon"> arrow_right_alt </span>
    </a>
  </div>
</section>
