<section class="landing-page">
  <div class="landing-page-container">
    <div class="landing-page-container_left">
      <img
        class="landing-page-container_left-img"
        src="../../../../assets/imgs/landing/landing-page.jpg"
        alt="woman with necklace"
      />
    </div>
    <div class="landing-page-container_right">
      <div class="landing-page-container_right-first">
        <app-top-bar></app-top-bar>
      </div>
      <div class="landing-page-container_right-second">
        <app-landing-title></app-landing-title>
        <app-contact></app-contact>
        <div class="curved-line-1"></div>
        <div class="curved-line-2"></div>
        <div class="curved-line-3"></div>
        <span class="material-symbols-outlined icon">
          keyboard_double_arrow_down
        </span>
      </div>
    </div>
  </div>
</section>
