<section class="landing-page">
  <div class="landing-page_left">
    <div class="bgr">
      <app-landing-title></app-landing-title>
    </div>
    <app-contact></app-contact>
    <span class="material-symbols-outlined icon">
      keyboard_double_arrow_down
    </span>
  </div>

  <div class="landing-page_right">
    <a [routerLink]="'/pierścionki'" class="rings">
      <div class="bg"></div>
      <app-pop-up-landing
      [title]="'Pierścionki'"
      class="animate"
      ></app-pop-up-landing>
    </a>
    <a [routerLink]="'/kolczyki'" class="earings">
      <div class="bg"></div>
      <app-pop-up-landing
        [title]="'Kolczyki'"
        class="animate1"
      ></app-pop-up-landing>
    </a>
  </div>
</section>
