.landing-page {
  width: 100%;
  display: flex;
  height: 100dvh;
  transition: 1s all;
  position: relative;
  margin-bottom: 5rem;
  &_logo {
    z-index: 9;
    top: 1.6rem;
    position: absolute;
    left: 1.6rem;
  }
  &_left {
    transition: 1s all;
    display: grid;
    grid-template-rows: 57% 30% 7.5%;
    align-items: flex-end;
    background-image: url(./../../../../assets/imgs/landing/55.jpg);
    background-size: cover;
    width: 100%;
    background-position: 30% 30%;
    position: relative;
  }
  &_right {
    border-left: 1px solid #fff;
    display: grid;
    grid-template-rows: 50% 50%;
    width: 50%;
    max-height: 100dvh;
    transition: 1s all;
  }
}

.rings {
  border-bottom: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url(./../../../../assets/imgs/landing/3.jpg);
  background-position: center;
  background-size: cover;
  cursor: pointer;
  &:hover {
    .animate {
      opacity: 1;
    }
    .bg {
      opacity: 1;
    }
  }
}

.earings {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url(./../../../../assets/imgs/landing/6.jpg);
  background-position: center;
  background-size: cover;
  cursor: pointer;
  &:hover {
    .animate {
      opacity: 1;
    }
    .animate1 {
      opacity: 1;
    }
    .bg {
      opacity: 1;
    }
  }
}

.z {
  z-index: 9999;
}

.bgr {
  padding: 1rem 0rem 1rem 0rem;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  width: 100%;
}

.bg {
  opacity: 0;
  position: absolute;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  width: 100%;
  height: 100%;
  transition: 1s all;
}

.animate {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 99999;
  transition: 1s all;
  opacity: 0;
}

.animate1 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 99999;
  transition: 1s all;
  opacity: 0;
}

.icon {
  font-size: 7.2rem;
  text-align: center;
  animation-name: moving;
  animation-timing-function: linear;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
}

@keyframes moving {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(30%);
  }
}

@media (max-width: 375px) {
  .landing-page_right {
    border-left: none;
  }
  .landing-page {
    display: grid;
    grid-template-columns: 100%;
    height: 100%;
    max-height: 100%;
  }

  .landing-page_right {
    width: 100%;
    height: 100dvh;
  }

  .landing-page_left {
    width: 100%;
    height: 100dvh;
  }

  .icon {
    font-size: 4.8rem;
  }

  .bg {
    opacity: 1;
  }
  .animate {
    opacity: 1;
  }
  .animate1 {
    opacity: 1;
  }
}

@media (min-width: 376px) and (max-width: 600px) {
  .landing-page_right {
    border-left: none;
  }
  .landing-page {
    display: grid;
    grid-template-columns: 100%;
    height: 100%;
    max-height: 100%;
  }

  .landing-page_right {
    width: 100%;
    height: 100dvh;
  }

  .landing-page_left {
    width: 100%;
    height: 100dvh;
  }

  .icon {
    font-size: 4.8rem;
  }

  .bg {
    opacity: 1;
  }
  .animate {
    opacity: 1;
  }
  .animate1 {
    opacity: 1;
  }
}

@media (min-width: 601px) and (max-width: 800px) {
  .landing-page_right {
    border-left: none;
  }
  .landing-page {
    display: grid;
    grid-template-columns: 100%;
    height: 100%;
    max-height: 100%;
  }

  .landing-page_right {
    width: 100%;
    height: 100dvh;
  }

  .landing-page_left {
    width: 100%;
    height: 100dvh;
  }

  .icon {
    font-size: 4.8rem;
  }

  .bg {
    opacity: 1;
  }
  .animate {
    opacity: 1;
  }
  .animate1 {
    opacity: 1;
  }
}

@media (min-width: 801px) and (max-width: 1230px) {
  .landing-page {
    display: grid;
    grid-template-columns: 60% 40%;
    height: 100%;
    max-height: 100%;
  }

  .landing-page_right {
    width: 100%;
    height: 100dvh;
  }

  .landing-page_left {
    width: 100%;
    height: 100dvh;
  }
  .icon {
    font-size: 4.8rem;
  }

  .bg {
    opacity: 1;
  }
  .animate {
    opacity: 1;
  }
  .animate1 {
    opacity: 1;
  }
}
