<section class="landing-page">
  <div class="landing-page-container">
    <div class="landing-page-container_left">
      <img
        class="landing-page-container_left-img"
        src="../../../../assets/imgs/landing/landing-page.jpg"
        alt=""
      />
    </div>
    <div class="landing-page-container_right">
      <div>
        <app-top-bar></app-top-bar>
      </div>
      <div>
        <app-landing-title></app-landing-title>
        <app-contact></app-contact>
      </div>
    </div>
  </div>
</section>
